:root {
  color-scheme: light;
  background-color: #f3f4f6;
  color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 0 !important;
}

body {
  margin: 0;
  background-color: #f3f4f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
